body {
    background: white;
    color: black;
}
div{
    display: flex;
}

.header{
    width: 100vw;
    justify-items: center;
    
}
.header .headlines { 
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    padding: 20px;
}

.header .headlines p {
    white-space: nowrap;
    display: inline;
    margin-right: 60px;
    font-family: Verdana, Helvetica, Arial, sans-serif;
}
.videos1{
    overflow: hidden;
    justify-content: center;
    color: blue;
}

.videos1 .videos2 .videos-triller{
    border-radius: 16px;
    width: 400px;
}
